@import url(https://use.typekit.net/fqg2gln.css);

.home-page-container {
  padding-top: 130px;
  background-color: #1b1723;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

#icons.wrapper {
  height: 90vh;
}

.teal {
  color: #86eddf;
}

.pink {
  color: #ffa4f6;
}

.purple {
  color: #5d76dd;
}

section {
  max-width: 1500px;
}

#name {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 445px;
  width: 90%;
}

@media only screen and (max-width: 1080px) {
  .box {
    width: 100px !important;
  }
}

@media only screen and (max-width: 600px) {
  .box {
    width: 80px !important;
  }
}

@media only screen and (max-width: 400px) {
  .box {
    width: 40px !important;
  }
}

.box {
  /* background-color: #444; */
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  width: 220px;
  height: 135px;
}

.box img:focus {
  outline: none;
}

.box img {
  position: relative;
}

.box:nth-child(2n) {
  /* background-color: #ccc; */
  color: #000;
  display: flex;
  align-items: flex-start;
}

.box:nth-child(3n) {
  /* background-color: #ccc; */
  color: #000;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.box:nth-child(4n) {
  /* background-color: #ccc; */
  color: #000;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.box:nth-child(5n) {
  /* background-color: #ccc; */
  color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.box:nth-child(7n) {
  /* background-color: #ccc; */
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box:nth-child(8n) {
  /* background-color: #ccc; */
  color: #000;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.box:nth-child(11n) {
  /* background-color: #ccc; */
  color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.box:nth-child(14n) {
  /* background-color: #ccc; */
  color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.box:nth-child(15n) {
  /* background-color: #ccc; */
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box:nth-child(16n) {
  /* background-color: #ccc; */
  color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.box:nth-child(17n) {
  /* background-color: #ccc; */
  color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.box:nth-child(18n) {
  /* background-color: #ccc; */
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box:nth-child(19n) {
  /* background-color: #ccc; */
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box:nth-child(20n) {
  /* background-color: #ccc; */
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box:nth-child(21n) {
  /* background-color: #ccc; */
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box:nth-child(22n) {
  /* background-color: #ccc; */
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box:nth-child(23) {
  /* background-color: #ccc; */
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 1075px) {
  /* .box:nth-child(1n) {
    display: none;
  } */

  .box:nth-child(3n) {
    display: none;
  }

  .box:nth-child(5n) {
    display: none;
  }

  .box:nth-child(7n) {
    display: none;
  } 

  .box:nth-child(9n) {
    display: none;
  }

  .box:nth-child(11n) {
    display: none;
  }

  .box:nth-child(13n) {
    display: none;
  }

  .box:nth-child(16n) {
    display: none;
  }

  /* .box:nth-child(17n) {
    display: none;
  } */

  /* .box:nth-child(19n) {
    display: none;
  }  */

  /* .box:nth-child(21n) {
    display: none;
  } */

  .box:nth-child(23n) {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .box {
    display: none !important;
  }
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tippy-tooltip.joji-theme {
  background-color: #ffa4f6;
  width: 300px;
  color: #1b1723;
  text-align: left;
  padding: 20px;
  border-radius: 20px;
  font-family: museo-sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tippy-tooltip.joji-theme[data-animatefill] {
  background-color: transparent;
}

.tippy-tooltip.joji-theme .tippy-backdrop {
  background-color: #ffa4f6;
}

.tippy-popper[x-placement^="top"] .tippy-tooltip.joji-theme .tippy-arrow {
  border-top-color: #ffa4f6;
}

.tippy-popper[x-placement^="bottom"] .tippy-tooltip.joji-theme .tippy-arrow {
  border-bottom-color: #ffa4f6;
}

.tippy-popper[x-placement^="left"] .tippy-tooltip.joji-theme .tippy-arrow {
  border-left-color: #ffa4f6;
}

.tippy-popper[x-placement^="right"] .tippy-tooltip.joji-theme .tippy-arrow {
  border-right-color: #ffa4f6;
}
